button{
    cursor: pointer;
}

.symbol_sequence__container{
    border: 1px solid black;
    padding: 1rem;
    width: 100%;
}

.symbol_sequence__container input{
    width: 100%;
}

.symbol_sequence__container button{
    margin-top: .5rem;
}

.symbol_prob_form_container{
    max-height: 10rem;
    overflow-y: scroll;
    background-color: #fff;
    padding: 1rem;
}

.symbol_prob_form button{
    margin-top: 1rem;
}

.symbol_prob_container{
    width: 100%;
    display: flex;
    align-items: center;
}

input{
    padding: .5rem;
    outline: none;
    border: 1px solid black;
    margin: .2rem;
}
.symbol_prob_container input{
    width: 100%;
    background-color: #eee;
}

.symbol_prob_container span{
    cursor: pointer;
}

.result{
    display: none;
}

.result .main__container{
    display: flex;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    min-width: 300px;
}

.stats__container{
    background-color: #eee;
    margin: 0 1rem;
    width: 100%;
    padding: .2rem 1rem;
}

.stats__container div{
    background-color: #fff;
    text-align: center;
    margin: .4rem auto;
    border-radius: 12px;
    padding: .01rem;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#huffman-tree__canvas{
    margin-top: 2rem;
}

.footer__buttons{
    position: fixed; 
    bottom: 10px; 
    right: 30px;
}

.footnote__container{
    position:fixed;
    bottom: 0;
    background: #fff;
    width: 100%;
    border-top: 2px solid black;
    transition: .3s ease-in-out;
    display: none;
    box-shadow: 5px 10px #888888;
}

.footnote__content{
    position: relative;
    padding: 2rem;
}

.footnote__content ul{
    margin-left: 2rem;
}

.footnote__content ul li{
    margin: .5rem 0;
    font-size: 18px;
}

.footnote__content button{
    position: absolute; 
    top: 5px;
    right: 15px;
    padding: .3rem;
    border-radius: 12px;
}