*,body{
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}

.container{
    display:flex;
    height:100vh;
}

.sidebar{
    position: relative;
    padding: 2rem;
    background-color: #eeeeee;
    border: 2px solid #000000;
    width: 30%;
}

button{
    padding:.8rem;
    color:#FFFFFF;
    background:#000000;
    cursor:pointer;
}

.node-input-form{
    width: 100%;
}

select{
    width: 100%;
}

select{
    padding: .5rem;
}

.node-input-form input{
    padding: .8rem;
    width: 90%;
}

.node-input-form div{
    margin: 1rem 0;
}

.main{
    position: relative;
    flex-grow:1;
    overflow-y:scroll;
    padding:2rem;
    position: relative;
}

.sample__btn{
    position: absolute; 
    background: #000000;
    color: #FFFFFF;
    padding: 1rem .5rem; 
    right: 15px;
    top: 20px;
    border-radius: 15px;
}

.tree__actions{
    border-top: 2px solid #000000; 
    padding: .5rem 2rem; 
    position: absolute; 
    bottom: 0;
    right: 0; 
    left: 0;
}

h1,h2,h3,h4,h5,h6{
    line-height: 4rem;
}

